.task-list {
    list-style-type: none;

    .task-list-item {
        margin: 0 0.2em 0.25em -1.6em;
    	vertical-align: middle;
    }
}

pre.code-highlight > code {
	padding: 0;
	margin: 0;
	line-height: inherit;
}

.sidebar-profile .sidebar-profile-name
{
    color: #FFA500;
}
ul.sidebar-buttons li.sidebar-button .sidebar-button-link
{
    color: #FFA500;
}
@media only screen and (min-width: 1280px)
{
  sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-bio,
  sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-job,
  sidebar[data-behavior="1"] .sidebar-profile .sidebar-profile-location 
  {
    color: #FFA500;
  }
}